<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Task Queue</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <meta name="viewport" content="width=task-width, initial-scale=1"/>
    <meta charset="UTF-8"/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" th:inline="javascript"></script>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<header>
    <h2>Task Queue</h2>
</header>

<body>
<p><a th:href="@{/admin}">Логин</a></p>
<p><a th:href="@{/logout}">Выйти</a></p>

<a class="add-button" href="/board">
    <button>Доска</button>
</a>

</body>
</html>